In [6]:
import pandas as pd
import numpy as np

## Datatypes

Series - can be indexed by a labels, can hold any type of data(including python object), lists, dictionaries etcc..can be converted into series

Numpy array

In [20]:
labels = ['a','b','c','d']
list1 = [1,2,3,4]

# create an array a
a = np.array([40,50,60])

# create a dictionary
d = {'a':10,'b':20,'c':30}

# convert into series
s = pd.Series(data=labels) # used to create 1D dataset
s

0    a
1    b
2    c
3    d
dtype: object

In [22]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
pd.Series(data=a)

0    40
1    50
2    60
dtype: int32

In [26]:
pd.Series(data=d)

a    10
b    20
c    30
dtype: int64

In [34]:
myDataset = {'Cars':['BMW','Toyota','Volkswagon'], 'Color':['Black','White','Red']}
pd.DataFrame(myDataset) # function used to create 2D dataset

         Cars  Color
0         BMW  Black
1      Toyota  White
2  Volkswagon    Red

In [38]:
# Create a list of fruits with colors, make label as color
fruits = {'Apple':'Red', 'Banana':'Yellow', 'Mango':'Orange'}
pd.Series(fruits)

Apple        Red
Banana    Yellow
Mango     Orange
dtype: object

In [40]:
# Create a 2D dataset with fruits and colors
myFruits = {'Fruits':['Apple','Banana','Mango'], 'Color':['Red','Yellow','Orange']}
pd.DataFrame(myFruits)

   Fruits   Color
0   Apple     Red
1  Banana  Yellow
2   Mango  Orange

In [42]:
pd.Series([1,2,3,4], index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

random is used to generate pseudorandom numbers, that value is known as seed value

seed() - used to save the state of random function so that it can generate some random numbers on multiple execution of code

seed() is used to initialize the random number generator

In [150]:
import random
random.seed(40)
print('first', random.randint(50,100))
random.seed(42)
print('second', random.randint(50,100))

first 79
second 90

In [189]:
random.seed(12)
print(random.random())
print(random.random())

0.4745706786885481
0.6574725026572553

In [230]:

df = pd.DataFrame(np.random.rand(5,4),index='a b c d e'.split(),columns='p q r s'.split())
df

          p         q         r         s
a  0.809181  0.105876  0.692341  0.788162
b  0.219890  0.962809  0.309159  0.823706
c  0.326303  0.558941  0.287834  0.768637
d  0.310146  0.511984  0.464965  0.869728
e  0.887031  0.548955  0.847463  0.688794

In [232]:
print(df['p'])

a    0.809181
b    0.219890
c    0.326303
d    0.310146
e    0.887031
Name: p, dtype: float64

In [236]:
df[['r','s']]

          r         s
a  0.692341  0.788162
b  0.309159  0.823706
c  0.287834  0.768637
d  0.464965  0.869728
e  0.847463  0.688794

In [240]:
type(df['p'])

pandas.core.series.Series

In [248]:
df['t']=np.random.rand()
df

          p         q         r         s         t
a  0.809181  0.105876  0.692341  0.788162  0.165789
b  0.219890  0.962809  0.309159  0.823706  0.165789
c  0.326303  0.558941  0.287834  0.768637  0.165789
d  0.310146  0.511984  0.464965  0.869728  0.165789
e  0.887031  0.548955  0.847463  0.688794  0.165789

In [254]:
df.drop('t',axis=1) # drop column

          p         q         r         s
a  0.809181  0.105876  0.692341  0.788162
b  0.219890  0.962809  0.309159  0.823706
c  0.326303  0.558941  0.287834  0.768637
d  0.310146  0.511984  0.464965  0.869728
e  0.887031  0.548955  0.847463  0.688794

In [256]:
df.drop('e', axis=0) # drop row

          p         q         r         s         t
a  0.809181  0.105876  0.692341  0.788162  0.165789
b  0.219890  0.962809  0.309159  0.823706  0.165789
c  0.326303  0.558941  0.287834  0.768637  0.165789
d  0.310146  0.511984  0.464965  0.869728  0.165789

In [272]:
# select a'th row
df.loc['a'] # select a row using label

p    0.809181
q    0.105876
r    0.692341
s    0.788162
t    0.165789
Name: a, dtype: float64

In [278]:
df.iloc[2] # select a row using index

p    0.326303
q    0.558941
r    0.287834
s    0.768637
t    0.165789
Name: c, dtype: float64

In [282]:
df.loc['b','r'] # selection of a subset

0.30915853759399403

In [284]:
df.loc[['a','b'],['r','s']]

          r         s
a  0.692341  0.788162
b  0.309159  0.823706

In [286]:
a1 = ['a','a','a','b','b','b']
a2 = [1,2,3,1,2,3]
p = list(zip(a1,a2))
p

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [290]:
df = pd.DataFrame(np.random.rand(6,2), index=p, columns=['x','y'])
df

               x         y
(a, 1)  0.503662  0.885598
(a, 2)  0.220489  0.296474
(a, 3)  0.456373  0.665632
(b, 1)  0.775611  0.226562
(b, 2)  0.544918  0.590374
(b, 3)  0.643172  0.499590